.my-footer {
  height: 5em;
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: #ffffff;
  font-size: 80%;
}

.notie-container {
  box-shadow: none;
}

.date-picker {
  z-index: 10000;
}

.swal2-html-container {
  overflow-x: hidden;
}
